@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

body {
  font-family: "DM Sans", serif;
  color: #202020;
  overflow-x: hidden;
}

@theme {
  --color-red-800: #6E1423;
  --color-black: #202020
}

.grad {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 16.88%, #FFF 99.94%);
}

.blob-blur {
  filter: blur(80px);
}


.txt {
  padding-top: 40px !important;
  font-size: calc(24px/var(--zoom)) !important;
}

.modal-bg {
  background-color: #2020205a;
  backdrop-filter: blur(10px);
}




.cs-scroll {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #737373;
  --sb-size: 6px;
}

.cs-scroll::-webkit-scrollbar {
  width: var(--sb-size)
}

.cs-scroll::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 50px;
}

.cs-scroll::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 50px;
  
}

@supports not selector(::-webkit-scrollbar) {
  .cs-scroll {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}