@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

body {
  font-family: "DM Sans", serif;
  color: #202020;
  overflow-x: hidden;
}

@theme {
  --color-red-800: #6E1423;
  --color-black: #202020
}

.grad {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 16.88%, #FFF 99.94%);
}

.blob-blur {
  filter: blur(80px);
}


.txt {
  padding-top: 40px !important;
  font-size: calc(24px/var(--zoom)) !important;
}

.test {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 8.22%, rgba(255, 255, 255, 0.00) 95.04%, rgba(255, 255, 255, 0.80) 174.64%)
}