@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

body {
  font-family: "DM Sans", serif;
  color: #202020;
  overflow-x: hidden;
}

@theme {
  --color-red-800: #6E1423;
  --color-black: #202020
}

.grad {
  position: relative;
  background: linear-gradient(180deg, rgba(230, 230, 230, 0.80) 26.58%, rgba(230, 230, 230, 0.00) 100%);
  backdrop-filter: blur(10px);
}

.blob-blur {
  filter: blur(40px);
}